@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

*{
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

    /* ATT Colors */
    --side-bar-color: #323b6c;
    --text-color: #ffffff;
    --active-text-color: #00ffff;
    --selected-bg: #5b6467;
    --hidden-color: #d1291c;
}

.sidebar{
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--side-bar-color);
    overflow-x: hidden;
    padding-top: 0;
}

.sidebar a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: var(--text-color);
    display: block;
}

.sidebar a:hover{
    color: var(--active-text-color);
}

.sidebar .text{
    color: white;
    font-size: 25px;
    font-weight: 600;
    line-height: 65px;
    text-align: center;
    background: var(--side-bar-color);
    letter-spacing: 1px;
}

nav ul li{
    line-height: 30px;
    border-top: 1px solid rgba(255,255,255,0.1);
}

nav ul li:last-child{
    border-bottom: 1px solid rgba(255,255,255,0.05);
}

nav ul li a{
    position: relative;
    color: var(--hidden-color);
    text-decoration: none;
    font-size: 15px;
    padding-left: 40px;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: 3px solid transparent;
}

nav ul li.active a{
    color: var(--active-text-color);
    background: var(--selected-bg);
    border-left-color: var(--hidden-color);
}

nav ul li a:hover{
    background: var(--selected-bg);
}

nav ul ul{
    position: static;
    display: none;
}

nav ul .normal-show.show{
    display: block;
}

nav ul .buyout-show.show1{
    display: block;
}

nav ul ul li{
    line-height: 30px;
    border-top: none;
}

nav ul ul li a{
    font-size: 10px;
    color: var(--text-color);
    padding-left: 80px;
}

nav ul li.active ul li a{
    color: var(--text-color);
    background: var(--side-bar-color);
    border-left-color: transparent;
}

nav ul ul li a:hover{
    color: var(--text-color)!important;
    background: var(--selected-bg)!important;
}

nav ul li a span{
    color: var(--hidden-color);
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 22px;
    transition: transform 0.4s;
}

nav ul li a span.rotate{
    transform: translateY(-50%) rotate(-180deg);
}

.main {
    margin-left: 250px; /* Same as the width of the sidenav */
    padding: 0px 0px;
}

.main .header{
    background-color: var(--side-bar-color);
    color: var(--text-color);
    font-size: 28px; /* Increased text to enable scrolling */
}

.wrapper{
    display: inline-flex;
    margin-top: 10px;
    border: 1px solid black;
    width: calc(100% - 1rem);
}

.content-acc{
    border: 1px solid black;
    margin: 10px;
    padding: 10px 10px;
    width: calc(100% - 1rem);
}

.content-item{
    border: 1px solid black;
    margin: 10px;
    padding: 10px 10px;
    width: calc(100% - 1rem);
}

.content-system{
    border: 1px solid black;
    margin: 10px;
    padding: 10px 10px;
    width: calc(100% - 1rem);
}

.content-who{
    border: 1px solid black;
    margin: 10px;
    padding: 10px 10px;
    width: calc(100% - 1rem);
    max-height: 75px;
}

.content-who .content-button-submit input{
    border: 1px solid black;
    margin-top: 20px;
    margin-left: -10px;
    width: 150px;
    cursor: pointer;
}

.content-who .content-button-cancel input{
    border: 1px solid black;
    margin-top: 10px;
    margin-left: -10px;
    width: 150px;
    cursor: pointer;
}

.content-acc, .content-item, .content-system, .content-who span{
    font-size: 15px;
}


@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}